@font-face{
    font-family: Roboto, Roboto-Serif;

    src:
            url(../font/Roboto_Serif/static/RobotoSerif-Light.ttf) format("truetype");
    src:
            url(../font/Roboto/static/Roboto-Light.ttf) format("truetype");
}
html{
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 90%;
    margin: auto;
    padding: 0 0 56px 0;
}
.nav-wrapper{
    display: flex;
    background-color: #162028;
    width: 100%;
    align-items: center;
    
}
.hero-title, .hero-nav{
    flex: 1 1 0;
}
.hero-title{
    color: white;
    font-size: 48px;
    margin: 0;
    text-align: center;
}
.hero-list{
    display: flex;
    list-style-type: none;
    gap: 56px;
    margin: 0 100px 0 0;
    justify-content: flex-end;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-family: Roboto-Serif;
}

.hero-list a{
    text-decoration: none;
    color: #425564;
    display: inline-block;
    font-size: 18px;
    padding: 24px;
}
.hero img{
    width: 100%;
}
.main-container{
    width: 80%;
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:  #555;
}
.main-title{
    font-size: 48px;
    font-weight: 100;
    margin: 0;
}
.main-presenting{
    font-size: 24px;
    line-height: 2;
    margin: 48px 0;
}
.main-cards{
    display: flex;
    margin-top: 32px;
    gap: 32px;
}
.card{
    flex: 1 1 0;
}
.card h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 0;
}
.card p{
    font-size: 20px;
}
.card img{
    width: 80%;
    border-radius: 3%;
}
.information{
    background-image: url(../images/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: auto;
    height: 900px;
    color: white;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px;
    margin: 100px auto 0;
}
.information-title{
    font-size: 120px;
    outline: 2px solid red;
    margin: 0;
}
.information-text{
    font-size: 32px;
    outline: 2px solid green;
    width: 50%;
}
footer{
    background-color: rgba(0,0,0,.9);
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-weight: 100;
    padding: 24px;
    font-size: 24px;
}